.modal__qrCode {
  border-radius: 0.6rem;
  /* border: 1px solid red; */
  height: 18rem;
  width: 18rem;
  overflow: hidden;
}

img {
  width: 18rem;
}

h1 {
  font-family: "Outfit", sans-serif;
  color: hsl(218, 44%, 22%);
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
}

p {
  font-family: "Outfit", sans-serif;
  color: hsl(220, 15%, 55%);
  padding: 0 0.5rem;
  text-align: center;
}
